/* 기본 영역 height 값 지정 */
.fp-overflow{height:100%}
.container{height:100%;}

.container{position:relative; box-sizing:border-box; padding:50px; overflow:hidden;}

/* section bg */
#section1{background:#FAC15A}
#section2{background:#212121}
#section3{background:#fff}
#section4{background:#212121}
#section5{background:#FAC15A}
#section6{background:#f1f1f1}
#section7{background:#FAC15A}


/* style */
.intro_title{position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); color:#fff; text-align:center;}
.intro_title h1{font-size:40px;}
.intro_title h2{font-size:80px; line-height:1; margin-top:20px}
.intro_title .bar{animation: blink 1s infinite; position:relative; top:-7px}
.intro_name{position:absolute; right:50px; bottom:50px; font-size:20px; color:#fff}

.blind_link{position:absolute; right:10px; top:10px; width:20px; height:20px; font-size:0;}


/* page tit */
.page_tit{font-size:0; position:relative; z-index:5;}
.page_tit span{font-size:40px;}
#section2 .page_tit{color:#fff}
#section5 .page_tit{position:absolute; left:50px; top:50px}
#section5 .page_tit{color:#fff}
#section7 .page_tit{position:absolute; left:50%; top:50%; transform:translate(-50%,-50%);}
#section7 .page_tit span{font-size:7vw}

/* content box */
.content_box{position:relative; margin-top:20px}

.ani_box{position:absolute;}
.ani_box img{width:100%;}
.ani_box iframe{width:100%; height:100%; position:absolute; left:0; top:0;}

.ani_box.one{width:16%; left:50px; top:22%;}
.ani_box.two{width:16%; left:24%; top:22%;}
.ani_box.three{width:56%; left:42%; top:10%}

.vd{position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); width:50%; height:0; padding-top:28.25%}
.vd iframe{width:100%; height:100%; position:absolute; left:0; top:0}



.shootingStar {position:absolute;top:0;left:0;width:100%;height:100%; overflow:hidden;}
.shootingStar .star {position:absolute;background-size:cover;opacity:0;filter:alpha(opacity=0); animation:5s flying linear infinite;}
.shootingStar > .star:nth-child(1) {top:7%;left:14%;width:96px;height:70px;background:url('../images/star1.png') no-repeat center top;animation-delay:0.2s;}
.shootingStar > .star:nth-child(2) {top:22%;left:17%;width:122px;height:88px;background:url('../images/star2.png') no-repeat center top;animation-delay:2.5s;}
.shootingStar > .star:nth-child(3) {bottom:7%;left:4%;width:100px;height:70px;background:url('../images/star3.png') no-repeat center top;animation-delay:3.8s;}
.shootingStar > .star:nth-child(4) {bottom:13%;left:65%;width:136px;height:100px;background:url('../images/star4.png') no-repeat center top;animation-delay:4.5s;}
.shootingStar > .star:nth-child(5) {bottom:4%;right:14%;width:76px;height:50px;background:url('../images/star5.png') no-repeat center top;animation-delay:2s;}
.shootingStar > .star:nth-child(6) {bottom:31%;right:2%;width:116px;height:70px;background:url('../images/star6.png') no-repeat center top;animation-delay:5.5s;}

/* slide */
.slide_box{height:100%; position:relative; display:flex; align-items:center; justify-content:center;}
.fp-arrow.fp-prev{border-color:transparent #1e1e1e transparent transparent; left:50px;}
.fp-arrow.fp-next{border-color:transparent transparent transparent #1e1e1e; right:50px;}
.slide_place{position:relative; min-width:600px;}
.slide_tit{font-size:50px; font-weight:bold;}
.slide_txt{line-height:1.5; font-size:25px; margin-top:20px}

.video{position:relative; height:0; width:60%; padding-top:34%}
.video iframe{width:100%; height:100%; position:absolute; left:0; top:0}

/* exam */
.exam{position:relative; margin-top:40px}
.exam dt{font-size:20px; font-weight:bold}
.exam dd{margin-top:20px; position:relative}
.exam dd a{position:relative; display:inline-block}
.exam dd img{max-width:500px}

.exam + .exam{margin-top:50px}
.exam .click{position:absolute; right:-30px; bottom:-30px; width:80px; animation:flying2 2s ease-in-out infinite;}

/* exam ani */
.ani_wrap{position:absolute; left:0; top:0; width:100%; height:100%; overflow:hidden;}
.ani_wrap .taja_bg{position:absolute; width:100%; height:100%; left:0; top:0; object-fit:cover;}

.ani_intro{position:absolute; left:0; top:0; width:100%; height:100%; z-index:1; background:#fff; animation-delay:9.5s; animation-fill-mode:forwards; animation-duration:2s; animation-name:ani_end; transform:scale(1); opacity:1;}
.ani_tit{position:absolute; left:50%; top:12%; transform:translate(-50%,-50%); width:auto; font-size:3vw; font-weight:bold; mix-blend-mode:difference; color:#fff; z-index:2; animation:tit_fade_out; animation-duration:1s; animation-delay:4s; animation-fill-mode:forwards;}

.ani_progress{position:absolute; left:0; top:0; width:0; height:100%; background:#FAC15A; animation:progress_start 5s ease-in-out forwards; overflow:hidden}

.key{box-shadow:5px 5px 5px #ddd; opacity:0; position:absolute;}
.key1{left:10%; top:15%; animation:key 1s ease-in; animation-delay:5s; animation-fill-mode:forwards;}
.key2{left:50%; top:55%; animation:key 1s ease-in; animation-delay:5.1s; animation-fill-mode:forwards;}
.key3{left:21%; top:85%; animation:key 1s ease-in; animation-delay:5.2s; animation-fill-mode:forwards;}
.key4{left: 69%;top: 72%;animation:key 1s ease-in;animation-delay:5.3s;animation-fill-mode:forwards;}
.key5{left:25%; top:25%; animation:key 1s ease-in; animation-delay:5.4s; animation-fill-mode:forwards;}
.key6{left:56%; top:20%; animation:key 1s ease-in; animation-delay:5.5s; animation-fill-mode:forwards;}
.key7{left: 43%;top: 68%;animation:key 1s ease-in;animation-delay:5.6s;animation-fill-mode:forwards;}
.key8{left: 70%;top: 37%;animation:key 1s ease-in;animation-delay:5.7s;animation-fill-mode:forwards;}
.key9{left: 9%;top: 54%;animation:key 1s ease-in;animation-delay:5.8s;animation-fill-mode:forwards;}
.key10{left:88%; top:9%; animation:key 1s ease-in; animation-delay:5.9s; animation-fill-mode:forwards;}


.svg_wrap svg{width:70%; position:absolute; left:15%; bottom:18%; transform:scale(0.95); animation:svg1 0.5s ease-in-out 5s, svg2 0.5s ease-out 5.5s;  animation-fill-mode:forwards;}
.svg_wrap svg *{font-size:0}

#rect5018{fill:#fff; animation-delay:6s; animation-name:keycap; animation-fill-mode:forwards; animation-duration:1s; animation-timing-function:ease-in-out;}
#rect4335{fill:#fff; animation-delay:6.1s; animation-name:keycap; animation-fill-mode:forwards; animation-duration:1s; animation-timing-function:ease-in-out;}
#rect3916{fill:#fff; animation-delay:6.2s; animation-name:keycap; animation-fill-mode:forwards; animation-duration:1s; animation-timing-function:ease-in-out;}
#rect4309{fill:#fff; animation-delay:6.3s; animation-name:keycap; animation-fill-mode:forwards; animation-duration:1s; animation-timing-function:ease-in-out;}
#rect3958{fill:#fff; animation-delay:6.4s; animation-name:keycap; animation-fill-mode:forwards; animation-duration:1s; animation-timing-function:ease-in-out;}
#rect5023{fill:#fff; animation-delay:6.5s; animation-name:keycap; animation-fill-mode:forwards; animation-duration:1s; animation-timing-function:ease-in-out;}
#rect5006{fill:#fff; animation-delay:6.6s; animation-name:keycap; animation-fill-mode:forwards; animation-duration:1s; animation-timing-function:ease-in-out;}
#rect4974{fill:#fff; animation-delay:6.7s; animation-name:keycap; animation-fill-mode:forwards; animation-duration:1s; animation-timing-function:ease-in-out;}
#rect4992{fill:#fff; animation-delay:6.8s; animation-name:keycap; animation-fill-mode:forwards; animation-duration:1s; animation-timing-function:ease-in-out;}
#rect3918{fill:#fff; animation-delay:6.9s; animation-name:keycap; animation-fill-mode:forwards; animation-duration:1s; animation-timing-function:ease-in-out;}
#rect3982{fill:#fff; animation-delay:7s; animation-name:keycap; animation-fill-mode:forwards; animation-duration:1s; animation-timing-function:ease-in-out;}
#rect3920{fill:#fff; animation-delay:7.1s; animation-name:keycap; animation-fill-mode:forwards; animation-duration:1s; animation-timing-function:ease-in-out;}
#rect4994{fill:#fff; animation-delay:7.2s; animation-name:keycap; animation-fill-mode:forwards; animation-duration:1s; animation-timing-function:ease-in-out;}
#rect3525{fill:#fff; animation-delay:7.3s; animation-name:keycap; animation-fill-mode:forwards; animation-duration:1s; animation-timing-function:ease-in-out;}
#rect5006{fill:#fff; animation-delay:7.4s; animation-name:keycap; animation-fill-mode:forwards; animation-duration:1s; animation-timing-function:ease-in-out;}
#rect4337{fill:#fff; animation-delay:7.5s; animation-name:keycap; animation-fill-mode:forwards; animation-duration:1s; animation-timing-function:ease-in-out;}

.logo{width:30%; position:absolute; left:35%; top:10%; filter:brightness(0) invert(1); transform:translateX(-50px); opacity:0; animation:logo 1.5s ease-in-out; animation-delay:8s;}

@keyframes progress_start {
	0% {width:0}
  30% {width:20%}
	50%{ width:50%}
  80%{ width:75%}
  100%{ width:100%}
}

@keyframes tit_fade_out {
	0% {opacity:1}
  100%{opacity:0}
}

@keyframes key {
  50%{transform:scale(1.2); opacity:1;}
  100%{transform:scale(1); opacity:0}
}

@keyframes svg1 {
  100%{transform:scale(1)}
}

@keyframes svg2 {
  100%{bottom:5%;}
}

@keyframes keycap {
  0%{fill:#fff}
  50%{fill:#FAC15A;}
  100%{fill:#fff}
}

@keyframes logo {
  0%{transform:translateX(-50px); opacity:0}
  50%{transform:translateX(0); opacity:1;}
  100%{transform:translateX(50px); opacity:0}
}

@keyframes ani_end{
  0%{transform:scale(1); opacity:1;}
  100%{transform:scale(1.5); opacity:0}
}

#myCanvas{position:absolute; left:0; top:0; width:100%; height:100%;}