@charset "UTF-8";
.notice {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.button, .swiper-nav-item, .video-control {
  background: transparent;
  border: 0;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tab-highlight: none;
  -webkit-touch-callout: none;
}

@font-face {
  font-family: "Noto Sans KR Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2") format("woff2"), url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff") format("woff"), url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans KR Medium";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2") format("woff2"), url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff") format("woff"), url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans KR Bold";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2") format("woff2"), url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff") format("woff"), url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf") format("opentype");
}
/* 페이지 공통 */
html {
  line-height: 160%;
  font-display: fallback;
  font-family: "Gilroy Regular", "Noto Sans KR Regular", -system-ui, BlinkMacSystemFont, -apple-system, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  word-break: keep-all;
}

body {
  margin: 0;
}

aside,
figure,
figcaption,
footer,
header,
main,
nav,
section {
  display: block;
}

figure,
form {
  margin: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
}

em {
  font-style: normal;
}

img {
  border: 0;
}

iframe {
  overflow: hidden;
}

button,
input,
textarea {
  margin: 0;
  padding: 0;
  line-height: inherit;
  font: inherit;
  text-transform: none;
}

button,
input {
  overflow: visible;
}

textarea {
  overflow: auto;
}

iframe {
  border: 0;
}

a, input, button, [tabindex] {
  outline: 0;
}

.nonvisual {
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.button {
  padding: 0.25em 2em;
  box-sizing: border-box;
  text-align: center;
}
.button.hover-fill {
  overflow: hidden;
  position: relative;
}
.button.hover-fill::before {
  content: "";
  background: #c1c6c8;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -moz-transform: translate3d(0, 105%, 0);
  -ms-transform: translate3d(0, 105%, 0);
  -webkit-transform: translate3d(0, 105%, 0);
  transform: translate3d(0, 105%, 0);
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button.hover-fill:hover::before {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.button.hover-black::before {
  background: #231f20;
}
.button.hover-pink::before {
  background: #fca2ca;
}
.button.hover-pink:hover {
  color: #fff;
}

.button-text,
.button-icon {
  position: relative;
}

.button-basic {
  background: #fca2ca;
  color: #fff;
  min-width: 3em;
  padding: 0.8em 2.75em;
  text-align: center;
  font-family: "Gilroy Medium", "Noto Sans KR Medium";
  font-size: 28px;
  font-weight: 400;
}

.button-pink {
  background: #fca2ca;
  color: #fff;
}

.button-black {
  background: #231f20;
  color: #fff;
}

.button-slate {
  background: #c1c6c8;
  color: #000;
}

.button-transpink {
  border: 1px solid #fca2ca;
  border-radius: 0.125em;
  color: #fca2ca;
}

.button-black-hover-fill {
  overflow: hidden;
  position: relative;
}
.button-black-hover-fill::before {
  content: "";
  width: 100%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button-black-hover-fill:hover::before {
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.button-black-hover-fill {
  border-radius: 3px;
  color: #fff;
  padding: 0.5em 2.75em;
  font-size: 16px;
  font-weight: 400;
}
.button-black-hover-fill::before {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMyMzFmMjAiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2MxYzZjOCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #231f20), color-stop(50%, #c1c6c8));
  background-image: -moz-linear-gradient(#231f20 50%, #c1c6c8 50%);
  background-image: -webkit-linear-gradient(#231f20 50%, #c1c6c8 50%);
  background-image: linear-gradient(#231f20 50%, #c1c6c8 50%);
}

.button-hamburger {
  width: 35px;
  padding: 0;
  position: relative;
}
.button-hamburger .ham {
  background: #fff;
  display: block;
  width: 100%;
  height: 2px;
}
.button-hamburger .ham + .ham {
  margin-top: 5px;
}
.button-hamburger.hover-expand {
  transition: width 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.button-hamburger.hover-expand:hover {
  width: 41px;
}

.button-share {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 40px;
  height: 40px;
  padding: 0;
  position: relative;
  transition: all 0.5s linear;
  transition-property: background-color, border-color;
}
.button-share::after {
  content: "";
  background: url('images/interface/share.svg') no-repeat center center/60% 60%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
html.is-inverted .button-share {
  background-color: rgba(193, 198, 200, 0.6);
  border-color: rgba(193, 198, 200, 0.5);
}

.swiper-nav-item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 38px;
  height: 68px;
}
.swiper-nav-item.swiper-button-disabled {
  opacity: 0.5;
}

.swiper-nav-prev {
  background-image: url('images/interface/chevron-lg-left.svg');
}

.swiper-nav-next {
  background-image: url('images/interface/chevron-lg-right.svg');
}

.swiper-button-disabled {
  cursor: not-allowed;
  pointer-events: none;
  touch-action: none;
}

.swiper-pagination-bullet {
  opacity: 1;
}

.swiper-pagination-bullet-active::before {
  background: #fca2ca !important;
}

.image-fluid {
  max-width: 100%;
  height: auto;
}

.image-fluid-y {
  width: auto;
  max-height: 100%;
}

.image-stretch {
  width: 100%;
  height: auto;
}

.image-cover {
  min-width: 100%;
  min-height: 100%;
  margin: auto;
  position: absolute;
  top: -10%;
  right: -10%;
  bottom: -10%;
  left: -10%;
}

.video {
  position: relative;
}

.video-frame {
  position: relative;
}
.video-frame::before {
  content: " ";
  display: block;
  width: 100%;
  padding-bottom: 56.25%;
}

.video-player {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.is-playing > .video-player {
  z-index: 1;
}

.video-control {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.video-thumb {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

body {
  background: #fff;
  margin: 0 auto;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-tab-highlight: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.content {
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.content-row {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -moz-transition-property: -webkit-transform, -moz-transform;
  -o-transition-property: -webkit-transform, -o-transform;
  -webkit-transition-property: -webkit-transform, -webkit-transform;
  transition-property: -webkit-transform, transform;
}
.content-row + .content-row {
  margin-top: 5px;
}
.content-row.split {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
}

.content-row-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.content-row-title {
  border: 0;
  margin: 0;
}

.content-row-desc {
  margin: 0;
}

.content-row-control {
  text-align: center;
}

.box-sizer {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.box-wrap {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.box-center,
.box-bottom {
  width: 100%;
  height: 100%;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.box-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.box-bottom {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end;
}

.box-half {
  width: 100%;
  height: 50%;
  overflow: hidden;
  position: relative;
}
.box-half.box-upper {
  padding-right: 4.5%;
  padding-left: 4.5%;
  box-sizing: border-box;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  moz-order: 0;
  -ms-flex-order: 0;
  order: 0;
}
.box-half.box-lower {
  padding-right: 4.5%;
  padding-left: 4.5%;
  box-sizing: border-box;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  moz-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.box-page-m {
  padding: 5.5rem 4.5% 6rem;
}
.content-row-half .box-page-m {
  padding-top: 0;
  padding-bottom: 0;
}

.box-fit-width {
  margin: 0 -4.5%;
}

.addon-sticky {
  position: fixed;
  right: 4.5%;
  bottom: 5%;
  z-index: 150;
}
.addon-sticky .button-share {
  width: 4rem;
  height: 4rem;
}
.addon-sticky .button-share .button-icon {
  width: 2rem;
  height: 2rem;
}

@media only screen and (max-width: 640px) {
  html {
    font-size: 11px;
  }
}
@media only screen and (max-width: 440px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (max-width: 375px) {
  html {
    font-size: 9px;
  }
}
@media only screen and (max-width: 320px) {
  html {
    font-size: 8px;
  }
}
.header {
  width: 100%;
  height: 36px;
  position: fixed;
  top: 1.75rem;
  left: 0;
  z-index: 100;
}
.header > .box-sizer {
  width: 100%;
  height: 100%;
  min-height: auto;
  margin: 0 auto;
  padding: 0 4.5%;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.header-left, .header-center, .header-right {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

.header-left {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  moz-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.header-center {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  moz-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  line-height: 0;
}

.header-right {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  moz-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
}

.header-brand {
  padding: 0;
}

.header-menu {
  width: 26px;
  width: -webkit-calc(20px + .5rem);
  width: calc(20px + .5rem);
}
.header-menu .ham {
  height: 3px;
  border-radius: 4px;
}
.header-menu .ham + .ham {
  margin-top: 7px;
}

.header-jumper {
  width: 32px;
  height: 32px;
  padding: 0;
}

.box-page-mx {
  padding-right: 4.5%;
  padding-left: 4.5%;
}

.nowrap {
  white-space: nowrap;
}

.content {
  background: #fdedf3;
  line-height: 1.5em;
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: -0.065em;
}

.content-head {
  background: url("../images/banner.jpg") no-repeat center top/cover;
  margin: 0;
  position: relative;
}
.content-head::before {
  content: " ";
  display: block;
  width: 100%;
  padding-bottom: 82.8125%;
}
.content-head .logo {
  -moz-transform: translate(0, 58%);
  -ms-transform: translate(0, 58%);
  -webkit-transform: translate(0, 58%);
  transform: translate(0, 58%);
}

.content-body {
  padding-top: 4em;
  padding-bottom: 3em;
}

.greetings {
  color: #666;
}

.greetings-head {
  color: #000;
}

.fieldset {
  background: #c1c6c8;
  color: #fff;
}

.fieldtail{
	background:none;
	color:#666;
	font-size:1.45rem
}

.fieldset-row {
  padding: 1em;
}
.fieldset-row + .fieldset-row {
  border-top: 1px solid #b7bec0;
}

.fieldset-row-title {
  color: #666;
  margin: 0 0 0.4em;
  font: inherit;
}

.fieldset-row-desc {
  margin: 0;
}
.fieldset-row-desc::after {
  content: "";
  clear: both;
  display: table;
}

.fieldset-row-sizer {
  display: inline-block;
  padding: 0.7em 0;
}

.fieldset-row-addon {
  background: #abb2b4;
  color: inherit;
  float: right;
  padding: 0.7em 1em;
}

.notice {
  color: #666;
  margin: 1.5em 0;
}

.notice-item {
  padding-left: 0.5em;
  position: relative;
}
.notice-item::before {
  content: "*";
  position: absolute;
  top: 0.2em;
  left: 0;
}

.controls {
  margin: 2em 0 1em;
}
.controls .button-confirm {
  width: 100%;
  padding: 1.2em 0 1.1em;
  line-height: 1.25em;
  font-size: 2rem;
  font-weight: 400;
}

.controls-notice {
  color: #c194a8;
  text-align: center;
  line-height: 1.53571em;
  font-size: 1.75rem;
  font-weight: 400;
}

.contact {
  border: 1px solid #c1c1c1;
  border-radius: 0.2em;
  color: #999;
  display: table;
  margin: 1em auto;
  line-height: 1.2;
  text-align: center;
  padding: 0.4em 1em 0.5em;
  vertical-align: middle;
}

/* 클린잇제로 */
.header{display:none}
.content-head::before{padding-bottom:72%}
.fieldset{background:#c1c6c8}
.notice{display:none}